body{
    font-family:apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    margin: 0px;
    padding: 0px;
}
.header{
    width: 100%;
    height: 72px;
    margin: 0px;
    background-color: white;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
}
.header__logo{
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    position: absolute; 
    left: 40px;
    top: 10px;
}
.logo_name{
    margin: 0px;
    margin-left: 100px;
    margin-right: 100px;
}
.header__navigation{
    margin-left: 80px;
    margin:auto;
    display: inline-block;
}
.header__list{
    list-style-type: none;
    font-size: 18px;
}
.header__logo{
    width: 40px;
    height: 40px; 
}

ol{
    display: inline-block;
}
.header__link{
    margin-left: 50px;
    text-decoration: none;
    color: black;
}
.header__link:hover{
    background-color: #cccc;
    width: 150%;
    height: 20px;
    border-radius: 5px;
}
.roles{
    position: absolute;
    right: 30px;
    top:10px;
}
.select{
    display: block;
    width: 100%; /* от ширины блока div */
    padding: .75rem 2.5rem .75rem 2.5rem;/* отступы от текста до рамки */
    background: none; /* убираем фон */
    border: 1px solid #ccc; /* рамка */
    border-radius: 3px;/* скругление полей формы */
    -webkit-appearance: none;/* Chrome */
    -moz-appearance: none;/* Firefox */
    appearance: none;/* убираем дефолнтные стрелочки */
    font-family: inherit;/* наследует от родителя */
    font-size: 1rem;
    color: #444;
}
.information{
    font-size: 24px;
    width: 100%;
    height: 50%;
    margin-top:150px;
}
.KompName{
    font-size: 36px;
    font-weight: bold;
    margin-top: 80px;

}
.KompName__information{
    margin-right: 0px;
    width: 40%;
}
.text{
    margin-left: 100px;
}
.federation{
    width: 300px;
    height: 300px;
    position: absolute;
    right: 100px;
    top: 200px;
}   