<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/personalAkk.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <img src="../image/лого.webp" alt="logo" class="header__logo">
        <span class="logo_name">DAGLOGO</span>
            <div class="header__navigation">
                <li class="header__list">
                    <ol>
                        <a href="#" class="header__link">Новости</a>
                    </ol>
                    <ol>
                        <a href="#" class="header__link">Мероприятия</a>
                    </ol>
                    <ol>
                        <a href="#" class="header__link">О нас</a>
                    </ol>
                    <ol>
                        <a href="#" class="header__link">Контакты</a>
                    </ol>
                </li>
            </div>
        <form method="get" class="roles">
            <select class="select">
                <ol class="select__list">
                    <li class="select__list__element">
                        <option type="submit">Спортсмен</option>>
                    </li>
                    <li class="select__list__element">
                        <option type="submit">Представитель региональной федерации</option>
                    </li>
                    <li class="select__list__element">
                        <option type="submit">Администратор ФСП</option>>
                    </li>
                    <li class="select__list__element">
                        <option type="submit">Патнер Федерации</option>>
                    </li>
                </ol>
            </select>
        </form>
    </header>
    <section class="registration">
        <form class="registration__forms">
            <p style="text-align: center;">Создание мероприятий</p>
            <fieldset class="fieldset">
                <label for="login">Название</label><br>
                <input type="tex" name="login" class="input"><br>
            </fieldset>
            <fieldset class="fieldset">
                <label for="name">Дата начала</label><br>
                <input type="text" name="name" class="input"><br>
            </fieldset>
            <fieldset class="fieldset">
                <label for="surname">Дата конца</label><br>
                <input type="surname" class="input">
            </fieldset>
            <fieldset class="fieldset">
                <label for="father">Призовой фонд</label><br>
                <input type="text" class="input">
            </fieldset>
            <fieldset class="fieldset">
                <label for="father">Партнеры</label><br>
                <input type="text" class="input">
            </fieldset>
            <fieldset class="fieldset">
                <label for="father">Описание</label><br>
                <input type="text" class="input input__width">
            </fieldset>