<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../style/main.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <img src="../image/лого.webp" alt="logo" class="header__logo">
        <span class="logo_name">DAGLOGO</span>
            <div class="header__navigation">
                <li class="header__list">
                    <ol>
                        <a href="#" class="header__link">Новости</a>
                    </ol>
                    <ol>
                        <a href="#" class="header__link">Мероприятия</a>
                    </ol>
                    <ol>
                        <a href="#" class="header__link">О нас</a>
                    </ol>
                    <ol>
                        <a href="#" class="header__link">Контакты</a>
                    </ol>
                </li>
            </div>
        <form method="get" class="roles">
            <select class="select">
                <ol class="select__list">
                    <li class="select__list__element">
                        <option type="submit">Спортсмен</option>>
                    </li>
                    <li class="select__list__element">
                        <option type="submit">Представитель региональной федерации</option>
                    </li>
                    <li class="select__list__element">
                        <option type="submit">Администратор ФСП</option>>
                    </li>
                    <li class="select__list__element">
                        <option type="submit">Патнер Федерации</option>>
                    </li>
                </ol>
            </select>
        </form>
    </header>
    <section class="information">
        <div class="text">
            <p class="KompName">
                Ф С П
            </p>
            <p class="KompName__information">
                Наиболее инновационная и быстро прогрессирующая организация как в спортивной, так и в IT-индустрии.
            </p>
            <p class="KompName__information">
                Деятельность Федерации направлена на развитие и популяризацию спортивного программирования среди населения страны, организацию и проведение чемпионатов и соревнований, а также оказания содействия в подготовке тренеров и спортсменов.
            </p>
        </div>
        <img src="../image/фото федерации.webp" class="federation">
    </section>
</body>
</html>